:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.addcomment{

    position: static;
    width: fit-content;
    margin: auto;
}

mat-form-field{

width: 80vw;

}

button{

    position: relative;
    bottom: 12px;
    left: 10px;

}

div.commentshow{

    width: 90%;
    margin: auto;

}